/* RESET */
*{
margin:0;
border:0;
padding:0; 
}

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800 */

/* .manrope-<uniquifier>{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Header */

header{
  background-image: linear-gradient(to right,rgba(255,122,190,0.6),rgba(255,222,79,0.6), rgba(117,200,245,0.6));
}

/* Navigation */
nav{
  color:#43261E;
}

/* Hero Video */
.hero-vid{
  height:50%;
  width:50%;
}

/* Body */
h2{
  font-family:'Manrope', sans-serif;
  /* font-optical-sizing:auto; */
  font-weight:500;
  font-style:normal;
  color:#43261E;
}

p{
  font-family:'Manrope', sans-serif;
  /* font-optical-sizing:auto; */
  font-weight:300;
  font-style:normal;
  color:#43261E;
}

.head-logo{
  font-family: "Caveat", cursive;
  /* font-optical-sizing:auto; */
  font-weight:700;
  font-style:normal;
  color:#43261E;
}

.scroll{
  background-color: rgba(255, 222, 79,0.6);
  /* height:110px; */
}


.half-circle-blue{
  width:200px;
  height:100px;
  background-color:#75C8F5;
  border-top-left-radius:110px;
  border-top-right-radius:110px;
}

.half-circle-pink{
  width:200px;
  height:100px;
  background-color:#FF7ABE;
  border-top-left-radius:110px;
  border-top-right-radius:110px;
}

button{
  color:#43261E;
  background-color:white;
  /* box-shadow:0px 10px, 0px 10px, #000000; */
  padding:5px 30px 5px 30px;
  /* position:relative;
  right:30%; */
}

/* Footer */
footer{
  background-image: linear-gradient(to right,rgba(255,122,190,0.6),rgba(255,222,79,0.6), rgba(117,200,245,0.6));
}
