/* RESET */
*{
margin:0;
border:0;
padding:0; 
box-sizing:border-box;

}

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800 */

/* .manrope-<uniquifier>{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Header */

/* Variables */

:root{
  --brown:#43261E;
}

header{
  outline:red solid 2px;
 min-height:10px;
  background-image: linear-gradient(to right,rgba(255,122,190,0.6),rgba(255,222,79,0.6), rgba(117,200,245,0.6));
}

.head-logo{
  font-family: "Caveat", cursive;
  font-weight:700;
  font-style:normal;
  font-size:1.75rem;
  color:#43261E;
  position:relative;
  left:25%;
  bottom:45px;
  width:fit-content;
}

.cart{
  width:fit-content;
  font-size:1.75rem;
  position:relative;
  left:80%;
  bottom:85px;
  color:var(--brown);
}

.account{
  width:fit-content;
  font-size:1.75rem;
  position:relative;
  left:90%;
  bottom:127px; 
  color:var(--brown);
}

/* Navigation */
nav{
  color:#43261E;
  font-family:'Manrope', sans-serif;
  display:none;
}


ul{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  width:auto;
  list-style-type:none;
  color:#43261E;
  font-weight:bold;
  background-color:white;
  padding:20px 0px;
}

ul li a{
  text-decoration:none;
  font-weight:bold;
}

label{
  color:#43261E;
  font-size:2rem;
  cursor:pointer;

}

#hamburger{
  display:none;

}

#hamburger:checked~nav{
  display:block;
}

#hamburger:checked~div{
  position:relative;
  bottom:140px;
}

#hamburger:checked~.account{
  position:relative;
  bottom:270px;
}

#hamburger:checked~.cart{
  position:relative;
  bottom:227px;
}

#hamburger:checked header{
  min-height:100px;
}

.list{
  display:none;
}


/* .list{
  display:none;
} */

/* .hamburger{
  font-size:2rem;
  padding-left:2%;
  padding-top:2%;
} */

/* #hamburger{
  display:none;
}

#hamburger:checked ~ ul{
  display:block;
}

nav ul{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:white;
}

nav ul li{
  list-style-type:none;
  
} */

/* Hero Video */
.hero-vid{
  margin-top:15%;
  height:auto;
  width:100%;
  
}




/* Body */
h2{
  font-family:'Manrope', sans-serif;
  /* font-optical-sizing:auto; */
  font-weight:500;
  font-style:normal;
  color:#43261E;
}

p{
  font-family:'Manrope', sans-serif;
  /* font-optical-sizing:auto; */
  font-weight:300;
  font-style:normal;
  color:#43261E;
}

.new{
  margin-left:3%;
  margin-top:20%;
}


/* Scroll */
.scroll{
  display:flex;
 margin-left:-8%;
  height:auto;
  width:auto;
  overflow-y:auto;
  scrollbar-width:none;
  /* background-color: rgba(255, 222, 79,0.6); */
  
}

.back-ground{
  background-color: rgba(255, 222, 79,0.6);
  height:100px;
  position:relative;
  bottom:175px;
  z-index:-999;
}

.scroll div{
  margin-left:11%;
}

.last{
  margin-right:5%;
}

.more{
  display:none;
}


/* Shopping */
/* .half-circle-blue{
  width:400px;
  height:300px;
  background-color:#75C8F5;
  border-top-left-radius:310px;
  border-top-right-radius:310px;
  position:relative;
  left:60%;
  bottom:20px;
  z-index:-999;
} */

/* .half-circle-pink{
  width:400px;
  height:300px;
  background-color:#FF7ABE;
  border-top-left-radius:310px;
  border-top-right-radius:310px;
  position:relative;
  bottom:20px;
  right:30%;
  z-index:-999;
} */

.pink-half{
  position:relative;
  bottom:70px;
}

.blue-half{
  position:relative;
  left:35%;
  top:275px;
  
}


.shop-bars{
  height:auto;
  width:100%;
  position:relative;
  bottom:425px;

}

.shop-boxes{
  height:auto;
  width:100%;
  position:relative;
  bottom:375px;
  margin-bottom:30%;
}


/* Socials */

.socials{
  margin-top:-450px;
  text-align:center;
}

.fa-x-twitter{
  margin-right:5%;
}

.fa-instagram{
  margin-right:5%; 
}

.cos{
  font-size:190%;
  margin-bottom:20px;
}
.socials div{
  font-size:2.5rem;
  color:var(--brown);
}


/* Values */
.ethics{
  display:flex;
  justify-content:center;
  font-size:1.25rem;
  margin-top:25%;
  margin-left:5%;
  margin-right:5%;
  padding:50px 0px;
  border-top:solid black 2px;
  border-bottom:solid black 2px;  
  
}


.fa-hand-holding-heart{
  font-size:45px;
  margin-left:5%;
  position:relative;
  bottom:10px;
  color:var(--brown);
  /* outline:red solid 2px; */
}

.source{
  margin-left:15%;
  color:var(--brown);
  /* outline: red solid 2px; */
}

.shipping{
  display:flex;
  justify-content:center;
  font-size:1.25rem;
  margin-top:10%;
  margin-left:5%;
  margin-right:5%;
  padding-bottom:50px;
  color:var(--brown);
  border-bottom:solid black 2px;

}

.fa-truck{
  font-size:40px;
  position:relative;
  left:10%;
  color:var(--brown);
}

.nation{
  margin-left:20%;

}


/* Location */

.location{
  Text-align:center;
  margin-top:30%;
  margin-bottom:10%;
 
}

.map{
  height:100%;
  width:100%;
}

.number{
  text-align:center;
  margin-top:5%;
  font-size:23px;
  
}

.fa-clock{
  font-size:2.5rem;
  position:relative;
  left:10%;
  top:85px;
}

.mon{
  /* width:fit-content; */
  display:flex;
  position:relative;
  left:34%;
  margin-top:5%;
  margin-bottom:2%;
  margin-right:170px;
  font-size:23px;
  letter-spacing:1px;
}

.mon p{
  margin-right:2%;
}

.sun{
  display:flex;
  flex-direction:row;
  width:65%;
  position:relative;
  left:34%;
  font-size:23px;
  margin-bottom:20%;
  margin-right:130px;
  letter-spacing:1px;
}


.sun p{
  margin-right:2%;
}

a:link{
  color:#43261E;
}


a:visited{
  color:#43261E;
}

a:hover{
  color:#75C8F5;
}

button{
  color:#43261E;
  background-color:white;
}

.bars-button{
  position:relative;
  bottom:488px;
  left:3%;
  font-size:30px;
  padding:1px 70px;
  border-radius: 10px;
  z-index:999;
  box-shadow:7px 8px 5px rgb(35, 35, 35);
}

.boxes-button{
  /* position:absolute;
  right:5%;
  top:124%; */
  position:relative;
  /* left:42%; */
  right:-42%;
  bottom:560px;
  font-size:30px;
  padding:1px 70px;
  border-radius: 10px;
  z-index:999;
  box-shadow:7px 8px 5px rgb(35, 35, 35);
}


/* Footer */
footer{
  height:100px;
  background-image: linear-gradient(to right,rgba(255,122,190,0.6),rgba(255,222,79,0.6), rgba(117,200,245,0.6));
}

.email{
  height:100px;
  display:flex;
  flex-direction:column;
 align-items:center;
 justify-content:space-evenly;
 
}

.address{
  letter-spacing:1px;
}



/* Media Queries */

@media screen and (min-width: 600px){

  .boxes-button{
    position:relative;
    right:-50%;
    bottom:580px;
  }
}

@media screen and (min-width: 830px){
  
 
.head-logo{
  font-size:2.5rem;
  position:relative;
  left:27%;
  bottom:65px;
  letter-spacing:5px;
}

.cart{
  font-size:2.5rem;
  position:relative;
  bottom:120px;
}

.account{
  font-size:2.5rem;
  position:relative;
  bottom:180px;
}

/* .hamburger{
  height:100%;
  width:90px;
} */

label{
  font-size:3rem;
  position:relative;
  left:2%;
}

#hamburger{
  display:none;

}

#hamburger:checked~nav{
  display:block;
}

#hamburger:checked~div{
  position:relative;
  bottom:320px;
}
 
#hamburger:checked~.account{
  position:relative;
  bottom:500px;
} 

#hamburger:checked~.cart{
  position:relative;
  bottom:440px;
}

nav ul{
  font-size:2rem;
}

/* a:link{
  color:#43261E;
}


a:visited{
  color:#43261E;
}

a:hover{
  color:#75C8F5;
} */

  .hero-vid{
    margin-top:5%;
    margin-bottom:-10%;
  }

  .new{
    font-size:2rem;
    margin-bottom:2%;
  }

  .scroll{
  display:flex;
  justify-content:center;
 margin-left:-25%;
  height:auto;
  width:auto;
  /* overflow-y:auto;
  scrollbar-width:none; */
  }

  .scroll div img{
    height:220px;
    width:175px;
  }
  .scroll div{
    height:250px;
    width:190px;
    margin-right:-10%;

  }

  .shopping{
    display:flex;
    justify-content:space-evenly;
    bottom:75px;
    
  }

  /* .shopping button{
    position:relative;
    left:20%;
  } */

  /* .link-to-bar button{
    position:relative;
    left:8%;
   bottom:520px;
  }

  .link-to-button{
    position:relative;
    
  } */

  /* .link-to-box button{

  } */

  .shop-bars{
    position:relative;
    left:5%;
    bottom:615px;
    margin-right:5%;
    /* margin-top:-50%; */
  }

  .shop-boxes{
    position:relative;
    bottom:455px;
    left:19%;
    margin-top:-50%;
  }

  .bars-button{
    position:relative;
    bottom:650px;
    left:25%;
   padding:0px 70px;
   /* margin:60px; */
  }

  .boxes-button{
    position:relative;
    bottom:550px;
    left:20%;
    padding:0px 70px;
    margin:60px;
  }

  .shopping img{
    height:200px;
    width:350px;
    margin-bottom:-5%;
  }

  .pink-half{
    height:auto;
    width:210px;
    position:relative;
    bottom:115px;
  }

  .blue-half{
    height:auto;
    width:190px;
    position:relative;
    left:50%;
    top:-1px;
  }

.socials{
  margin-top:-65%;
  margin-bottom:-10%;
}
.cos{
  font-size:2.5rem;
  margin-top:7%;

}  
.socials div{
  font-size:3.25rem;
}
.ethics{
  font-size:1.75rem;
 
}

.fa-hand-holding-heart{
  font-size:3rem;
  margin-left:10%;
}
.shipping{
  font-size:1.75rem;
}

.fa-truck{
  font-size:2.75rem;
  position:relative;
  left:13%;
}
.nation{
  position:relative;
  left:3%;
}

.location{
  font-size:2.5rem;
  position:relative;
  right:25%;
  bottom:70px;

}
.map{
  height:300px;
  width:375px;
  position:relative;
  left:50%;
  bottom:200px;
/* position:absolute;
left:50%;
top:200%; */
}

.number{
  font-size:1.25rem;
  position:relative;
  right:25%;
  bottom:490px;
  margin-bottom:-450px;
}

.fa-clock{
  font-size:2.5rem;
  position:relative;
 
}
.mon{
  display:flex;
  flex-direction:column;
  align-items:center;
 position:relative;
  left:-5%;
  bottom:100px;
  /* margin-left:-770px */

}

.sun{
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
  left:95%;
  bottom:80px;
  margin-left:-770px;
  
}

footer{
  width:100%;
  margin-top:-15%;
  font-size:30px;
}

}


@media screen and (min-width: 1280px){

/* *{
  outline: red solid 2px;
} */

/* .ham-menu{
  display:none;
}   */

.list{
  font-size:2rem;
  display:flex;
  justify-content:space-evenly;
  margin-top:3%;
}

.list a:link{
  text-decoration:none;

}

.list a:visited{
  color:#43261E;
}

.list a:hover{
  color:#75C8F5;
}

/* header{
  justify-content:center;
}

header div{
  justify-content:flex-end;
} */

 /* label{
  display:none;
}

nav{
  display:flex;
  flex-direction:row;
  justify-content:center;

  outline:red solid 2px;
  font-size:6rem;

} */

/* 
nav ul li {
  max-width: 20%;
  margin-top: -2%;
  margin-right: 5%;
  padding-bottom: 2%;
  padding-top:3%;
} */

/* header {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

 label {
  display:none;
}

/* #hamburger:checked{
  display:flex;
}  */

 /* nav ul {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

/* .desktop-nav{
  display:flex;
  flex-direction:row;
  
} */

.head-logo{
  position:relative;
  top:50px;
  font-size:3rem;
}


.account{
  position:relative;
  bottom:100px;
  left:93%;
  font-size:3.5rem;
}

.cart{
  position:relative;
  bottom:20px;
  left:83%;
  font-size:3.5rem;
}

.head-logo{
  position:relative;
  left:-1px;
  margin-left:20px;
  bottom:150px;
}

.scroll{
  position:relative;
  right:14%;
 
}

.more{
  display:flex;
  position:relative;
  left:77%;
  bottom:245px;
  width:fit-content;
}

.more p{
  font-size:1.5rem;
}

.fa-arrow-right{
  font-size:1.5rem;
margin-left:20px;
position:relative;
top:9px;
}

.pink-half{
  position:relative;
  bottom:90px;
  height:auto;
  width:230px; 
}
.blue-half{
  height:auto;
  width:230px;
  position:relative;
  left:63%;
  top:150px;
  
  
}

.shopping{
 position:relative;
 bottom:30px
}

.link-to-bar{
  position:relative;
  left:2%;
}

.link-to-bar button{
  padding:3px 110px;
}

.link-to-box{
  position:relative;
 right:1%;
 top:130px;
}

.link-to-box button{
  padding:3px 110px;
  position:relative;
  left:25%;
}



.shopping img{
  height:350px;
  width:500px;
  margin-bottom:-5%;
}


.socials{
  margin-top:-48%;
  margin-bottom:-15%;

}

.cos{
  font-size:3.5rem;
}

.social-logo i{
  font-size:4rem;
  margin-top:3%;
}

.shipping{
  position:relative;
  bottom:60px;
  
}

.fa-truck{
  position:relative;
  left:10%;
}

.location{
  position:relative;
  bottom:230px;
  font-size:3.5rem;
}

.map{
  height:50%;
  width:50%;
  position:relative;
  left:45%;
  bottom:430px;
}

.number{
  position:relative;
  bottom:780px;
  font-size:2rem;
  margin-top:-2%;
  font-weight: lighter;
}

.mon{
  text-align:center;
  font-size:1.75rem;
  position:relative;
  left:-13%;
  bottom:400px;
  /* bottom:350px;
  right:px; */
}
.fa-clock{
  font-size:3.5rem;;
  position:relative;
  left:4%;
 top:-150px;
}

.sun{
  text-align:center;
  font-size:1.75rem;
  position:relative;
  left:58%;
  bottom:370px;
  
}
}