/* RESET */
*{
margin:0;
border:0;
padding:0; 
box-sizing:border-box;

}



/* Variables--------------------------------- */

:root{
  --brown:#43261E;
}





/* Header -------------------------------*/

header{
 min-height:80px;
  background-image: linear-gradient(to right,rgba(255,122,190,0.6),rgba(255,222,79,0.6), rgba(117,200,245,0.6));
}

.head-logo{
  font-family: "Caveat", cursive;
  font-weight:700;
  font-style:normal;
  font-size:1.75rem;
  color:#43261E;
  position:relative;
  left:20%;
  bottom:45px;
  width:fit-content;
  
}

.cart{
  width:fit-content;
  font-size:1.75rem;
  position:relative;
  left:75%;
  bottom:85px;
  color:var(--brown);
}

.account{
  width:fit-content;
  font-size:1.75rem;
  position:relative;
  left:90%;
  bottom:127px; 
  color:var(--brown);
}




/* Navigation---------------------------- */
nav{
  color:#43261E;
  font-family:'Manrope', sans-serif;
  display:none;
}

ul{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  width:auto;
  list-style-type:none;
  color:#43261E;
  font-weight:bold;
  background-color:white;
  padding:20px 0px;
  margin-bottom:-40%;
}

ul li a{
  text-decoration:none;
  font-weight:bold;
}

label{
  color:#43261E;
  font-size:2rem;
  cursor:pointer;
  position:relative;
  left:5%;

}

#hamburger{
  display:none;
}

#hamburger:checked~nav{
  display:block;
}

#hamburger:checked~div{
  position:relative;
  bottom:205px;
}

#hamburger:checked~.account{
  position:relative;
  bottom:330px;
  left:88%;
}

#hamburger:checked~.cart{
  position:relative;
  bottom:290px;
}

#hamburger:checked header{
  min-height:100px;
}

.list{
  display:none;
}

nav div{
  display:flex;
  justify-content:center;
  align-items:center;
  /* padding:0px 60px; */
  width:65%;
  border-bottom:solid black 2px; 
  margin-bottom:2%;
}


nav div i{
  margin-left:5%;
}


.search{
  align-items:center;
  border:black solid 2px;
  border-radius:10px;
  padding:0px 150px;
  margin-bottom:5%;
  /* padding-right:90px; */
}

.fa-magnifying-glass{
  margin-right:20%;
}


.nav-social{
  font-size:2.25rem;
  margin-top:7%;
  justify-content:space-around;
  border-bottom:white solid 2px;
}

.about{
  border-bottom:white solid 2px;
}


/* Hero Video------------------------------ */
.hero-vid{
  margin-top:15%;
  height:auto;
  width:100%;
  
}




/* Body------------------------------------ */
h2{
  font-family:'Manrope', sans-serif;
  /* font-optical-sizing:auto; */
  font-weight:500;
  font-style:normal;
  color:#43261E;
}

p{
  font-family:'Manrope', sans-serif;
  /* font-optical-sizing:auto; */
  font-weight:300;
  font-style:normal;
  color:#43261E;
}

.new{
  margin-left:3%;
  margin-top:20%;
}

.our-story{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:15%;
}

.back{
  font-size:2rem;
  margin-bottom:5%;
}

.story{
  font-size:15px;
  text-align:center;
  line-height:23px;
}

.story2{
  display:none;
}


/* Scroll------------------------------------------ */
.scroll{
  display:flex;
 margin-left:-8%;
  height:auto;
  width:auto;
  overflow-y:auto;
  scrollbar-width:none;
  /* background-color: rgba(255, 222, 79,0.6); */
  
}

.back-ground{
  background-color: rgba(255, 222, 79,0.6);
  height:100px;
  position:relative;
  bottom:175px;
  z-index:-999;
}

.scroll div{
  margin-left:11%;
}

.last{
  margin-right:5%;
}

.more{
  display:none;
}


/* Shopping */

.pink-half{
  position:relative;
  bottom:70px;
}

.blue-half{
  position:relative;
  left:35%;
  top:275px;
}

.about-blue-half{
  position:relative;
  left:60%;
  bottom:300px;
  z-index:-999;
  margin-bottom:-110%;
}

.about-yellow-half{
  position:relative;
  bottom:260px;
  margin-bottom:-120%;
  z-index:-999;
}


.shop-bars{
  height:auto;
  width:100%;
  position:relative;
  bottom:425px;

}

.shop-boxes{
  height:auto;
  width:100%;
  position:relative;
  bottom:375px;
  margin-bottom:30%;
}



/* Social Posts------------------------- */

.social-posts img{
  height:178px;
  width:178px;
  margin-bottom:30%;
}

.social-posts{
  display:flex;
  justify-content: space-evenly;
}

.posts1{
  display:flex;
  flex-direction:column;

}

.post2{
  display:flex;
  flex-direction:column;
}







/* Socials ------------------------------*/

.socials{
  margin-top:-450px;
  text-align:center;
}

.ffm{
  text-align:center;
  margin-bottom:20%;
}


.fa-x-twitter{
  margin-right:5%;
}

.fa-instagram{
  margin-right:5%; 
}

.cos{
  font-size:190%;
  margin-bottom:20px;
}
.socials div{
  font-size:2.5rem;
  color:var(--brown);
}

.ffm div{
  font-size:2.5rem;
  color:var(--brown);
}




/* Values---------------------------- */
.ethics{
  display:flex;
  /* jtify-content:center; */
  font-size:1.25rem;
  margin-top:25%;
  margin-left:5%;
  margin-right:5%;
  padding:50px 0px;
  border-top:solid black 2px;
  border-bottom:solid black 2px;  
  
}


.fa-hand-holding-heart{
  font-size:45px;
  margin-left:5%;
  position:relative;
  bottom:10px;
  color:var(--brown);
  /* outline:red solid 2px; */
}

.source{
  margin-left:15%;
  color:var(--brown);
  /* outline: red solid 2px; */
}

.shipping{
  display:flex;
  justify-content:center;
  font-size:1.25rem;
  margin-top:10%;
  margin-left:5%;
  margin-right:5%;
  padding-bottom:50px;
  color:var(--brown);
  border-bottom:solid black 2px;

}

.fa-truck{
  font-size:40px;
  position:relative;
  left:10%;
  color:var(--brown);
}

.nation{
  margin-left:20%;

}


/* Location */

.location{
  Text-align:center;
  margin-top:30%;
  margin-bottom:10%;
 
}

.map{
  height:100%;
  width:100%;
}

.number{
  text-align:center;
  margin-top:5%;
  font-size:23px;
  
}

.fa-clock{
  font-size:2.5rem;
  position:relative;
  left:10%;
  top:85px;
}

.mon{
  /* width:fit-content; */
  display:flex;
  position:relative;
  left:34%;
  margin-top:5%;
  margin-bottom:2%;
  margin-right:170px;
  font-size:23px;
  letter-spacing:1px;
}

.mon p{
  margin-right:2%;
}

.sun{
  display:flex;
  flex-direction:row;
  width:65%;
  position:relative;
  left:34%;
  font-size:23px;
  margin-bottom:20%;
  margin-right:130px;
  letter-spacing:1px;
}


.sun p{
  margin-right:2%;
}

a:link{
  color:#43261E;
  
}

.home-logo a:link{
  text-decoration:none;
}

a:visited{
  color:#43261E;
}

a:hover{
  color:#75C8F5;
}

button{
  color:#43261E;
  background-color:white;
}

.bars-button{
  position:relative;
  bottom:488px;
  left:3%;
  font-size:30px;
  padding:1px 70px;
  border-radius: 10px;
  z-index:999;
  box-shadow:7px 8px 5px rgb(35, 35, 35);
}

.boxes-button{
  /* position:absolute;
  right:5%;
  top:124%; */
  position:relative;
  /* left:42%; */
  right:-42%;
  bottom:560px;
  font-size:30px;
  padding:1px 70px;
  border-radius: 10px;
  z-index:999;
  box-shadow:7px 8px 5px rgb(35, 35, 35);
}


/* Footer */
footer{
  height:100px;
  background-image: linear-gradient(to right,rgba(255,122,190,0.6),rgba(255,222,79,0.6), rgba(117,200,245,0.6));
}

.email{
  height:100px;
  display:flex;
  flex-direction:column;
 align-items:center;
 justify-content:space-evenly;
 
}

.address{
  letter-spacing:1px;
}



/* Media Queries */

@media screen and (min-width: 600px){

  .boxes-button{
    position:relative;
    right:-50%;
    bottom:580px;
  }
}

@media screen and (min-width: 830px){
  
 
.head-logo{
  font-size:2.5rem;
  position:relative;
  left:20%;
  bottom:65px;
  letter-spacing:5px;
}

.cart{
  font-size:2.5rem;
  position:relative;
  bottom:120px;
}

.account{
  font-size:2.5rem;
  position:relative;
  bottom:180px;
}

/* .hamburger{
  height:100%;
  width:90px;
} */

label{
  font-size:3rem;
  position:relative;
  left:2%;
}

#hamburger{
  display:none;

}

#hamburger:checked~nav{
  display:block;
}

#hamburger:checked~div{
  position:relative;
  bottom:300px;
}
 
#hamburger:checked~.account{
  position:relative;
  left:90%;
  bottom:485px;
} 

#hamburger:checked~.cart{
  position:relative;
  bottom:425px;
}

nav ul{
  font-size:2rem;
}


  .hero-vid{
    margin-top:5%;
    margin-bottom:-5%;
  }

  .new{
    font-size:2rem;
    margin-bottom:2%;
  }

  .scroll{
  display:flex;
  justify-content:center;
 margin-left:-25%;
  height:auto;
  width:auto;
  /* overflow-y:auto;
  scrollbar-width:none; */
  }

  .scroll div img{
    height:220px;
    width:175px;
  }
  .scroll div{
    height:250px;
    width:190px;
    margin-right:-10%;

  }

  .shopping{
    display:flex;
    justify-content:space-evenly;
    bottom:75px;
    
  }



  .shop-boxes{
    position:relative;
    bottom:455px;
    left:19%;
    margin-top:-50%;
  }

  .bars-button{
    position:relative;
    bottom:650px;
    left:25%;
   padding:0px 70px;
   /* margin:60px; */
  }

  .boxes-button{
    position:relative;
    bottom:550px;
    left:20%;
    padding:0px 70px;
    margin:60px;
  }

  .shopping img{
    height:200px;
    width:350px;
    margin-bottom:-5%;
  }


.back{
  font-size:2.5rem;
}

.story{
  font-size:1rem;
  width:90%;
}

.our-story{
  justify-content:center;
  width:50%;
  position:relative;
  left:11%;
  margin-top:25%;
}


  .pink-half{
    height:auto;
    width:210px;
    position:relative;
    bottom:115px;
  }

  .blue-half{
    height:auto;
    width:190px;
    position:relative;
    left:50%;
    top:-1px;
  }

  .about-blue-half{
    height:auto;
    width:200px;
    position:relative;
    left:76%;
    bottom:1070px;
  }



.posts1{
  position:relative;
  right:15%;

}

.post2{
  position:relative;
  left:17%;;
  bottom:540px;
}

.about-yellow-half{
  height:auto;
  width:160px;
  position:relative;
  bottom:1300px;
}


.ffm{
  display:flex;
  align-items:center;
  margin-top:-65%;
  margin-bottom:25%;
  position:relative;
  left:9%;
 width:70%

}

.about-cos{
  font-size:2.5rem;
  margin-top:7%;
  position:relative;
  bottom:23px;

}

.social-logo{
  display:flex;
}

.social-logo i{
  margin-left:30%;
  font-size:3rem;
}

.socials{
  margin-top:-65%;
  margin-bottom:-10%;
}
.cos{
  font-size:2.5rem;
  margin-top:7%;

}  
.socials div{
  font-size:3.25rem;
}
.ethics{
  font-size:1.75rem;
 
}

.fa-hand-holding-heart{
  font-size:3rem;
  margin-left:10%;
}
.shipping{
  font-size:1.75rem;
}

.fa-truck{
  font-size:2.75rem;
  position:relative;
  left:13%;
}
.nation{
  position:relative;
  left:3%;
}

.location{
  font-size:2.5rem;
  position:relative;
  right:25%;
  bottom:70px;

}
.map{
  height:300px;
  width:375px;
  position:relative;
  left:50%;
  bottom:200px;
/* position:absolute;
left:50%;
top:200%; */
}

.number{
  font-size:1.25rem;
  position:relative;
  right:25%;
  bottom:490px;
  margin-bottom:-450px;
}

.fa-clock{
  font-size:2.5rem;
  position:relative;
 
}
.mon{
  display:flex;
  flex-direction:column;
  align-items:center;
 position:relative;
  left:-5%;
  bottom:100px;
  /* margin-left:-770px */

}

.sun{
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
  left:95%;
  bottom:80px;
  margin-left:-770px;
  
}

footer{
  width:100%;
  margin-top:-15%;
  font-size:30px;
  margin-bottom:-100%;
}

}


@media screen and (min-width: 1280px){

/* *{
  outline: red solid 2px;
} */

/* .ham-menu{
  display:none;
}   */

.list{
  font-size:2rem;
  display:flex;
  justify-content:space-evenly;
  margin-top:3%;
}

.list a:link{
  text-decoration:none;
}

.list a:visited{
  color:#43261E;
}

.list a:hover{
  color:#75C8F5;
}



 label {
  display:none;
}



.head-logo{
  position:relative;
  top:50px;
  font-size:3rem;
}


.account{
  position:relative;
  bottom:100px;
  left:93%;
  font-size:3.5rem;
}

.cart{
  position:relative;
  bottom:20px;
  left:83%;
  font-size:3.5rem;
}

.head-logo{
  position:relative;
  left:-1px;
  margin-left:20px;
  bottom:150px;
}

.scroll{
  position:relative;
  right:14%;
 
}

.more{
  display:flex;
  position:relative;
  left:77%;
  bottom:245px;
  width:fit-content;
}

.more p{
  font-size:1.5rem;
}

.fa-arrow-right{
  font-size:1.5rem;
margin-left:20px;
position:relative;
top:9px;
}




.pink-half{
  position:relative;
  bottom:90px;
  height:auto;
  width:230px; 
}
.blue-half{
  height:auto;
  width:230px;
  position:relative;
  left:63%;
  top:150px;
  
}

.about-blue-half{
  height:auto;
  width:250px;
  position:relative;
  left:80%;
  bottom:1800px;
}

.about-yellow-half{
  height:auto;
  width:225px;
  position:relative;
  bottom:2100px

}

.back{
  font-size:2.75rem;
}

.story{
  font-size:1rem;
}

.story2{
  font-size:1rem;
  display:flex;
  text-align:center;
  margin-top:10%;
}

.our-story{
  position:relative;
  bottom:100px;
  left:11%;

}

.posts1{
  position:relative;
  right:21%;
  bottom:800px;
}

.post2{
  position:relative;
  right:21%;
  bottom:800px;
  
}


.social-posts img{
  height:130%;
  width:130%;
}
.shopping{
 position:relative;
 bottom:30px
}

.link-to-bar{
  position:relative;
  left:3%;
  position:relative;
  bottom:200px
}

.link-to-bar button{
  padding:3px 110px;
  position:relative;
  bottom:470px;
  left:20%;
}

.link-to-box{
  position:relative;
 top:120px;
}

.link-to-box button{
  padding:3px 110px;
  position:relative;
  left:25%;
}



.shopping img{
  height:350px;
  width:500px;
  margin-bottom:-5%;
}



.socials{
  margin-top:-48%;
  margin-bottom:-15%;

}

.ffm{
  position:relative;
  left:15%;
  margin-top:-60%;
  /* margin-bottom:40%; */
}

.about-cos{
  font-size:3.5rem;
}


.cos{
  font-size:3.5rem;
}

.social-logo i{
  font-size:4rem;
  margin-top:3%;
}

.shipping{
  position:relative;
  bottom:60px;
  
}

.ethics p{
  position:relative;
  left:23%;
}

.ethics i{
  position:relative;
  left:23%;
}

.fa-truck{
  position:relative;
  left:10%;
}

.location{
  position:relative;
  bottom:230px;
  font-size:3.5rem;
}

.map{
  height:50%;
  width:50%;
  position:relative;
  left:45%;
  bottom:430px;
}

.number{
  position:relative;
  bottom:780px;
  font-size:2rem;
  margin-top:-2%;
  font-weight: lighter;
}

.mon{
  text-align:center;
  font-size:1.75rem;
  position:relative;
  left:-13%;
  bottom:400px;
  /* bottom:350px;
  right:px; */
}
.fa-clock{
  font-size:3.5rem;;
  position:relative;
  left:4%;
 top:-150px;
}

.sun{
  text-align:center;
  font-size:1.75rem;
  position:relative;
  left:58%;
  bottom:370px;
  
}
}